
  

  a{
    color:#d3d7fd;
  }
  
  /************** BOOTSTRAP NAV *******************/ 


   .navbar{
    justify-content: end !important;
    padding-right: 25px;
}


.nav-link{
   color: #f2a0e2 !important;
   font-size: 20px;
   font-weight: 800;
}


.bg-body-tertiary {
   --bs-bg-opacity: 0;
   background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}


.fixed-top {
position: absolute;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}

button.navbar-toggler {
   width: 10% !important;
   height: 75px !important;
   font-size: var(--bs-navbar-toggler-font-size);
   line-height: 1;
   color: #5c76ee;
   background-color: #d675c39d;
   border: var(--bs-border-width) solid ;
   border-radius: var(--bs-navbar-toggler-border-radius);
   border-color:#795ced!important;
   border-width: 2px;
   transition: var(--bs-navbar-toggler-transition);
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
   --bs-offcanvas-zindex: 1045;
   --bs-offcanvas-width: 400px;
   --bs-offcanvas-height: 30vh;
   --bs-offcanvas-padding-x: 1rem;
   --bs-offcanvas-padding-y: 1rem;
   --bs-offcanvas-color: rgb(198, 180, 248);
   --bs-offcanvas-title-line-height: none !important;
}


.offcanvas-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
   --bs-offcanvas-zindex: 1045;
   --bs-offcanvas-title-line-height: none !important;
}

.offcanvas {
   position: fixed;
   background-color:#081151a4 !important;
}


.btn-close {
   --bs-btn-close-bg: url(/IMGS/Vector.png) !important;
   --bs-btn-close-opacity: 0.5;
   --bs-btn-close-hover-opacity: 0.75;
   --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
   --bs-btn-close-focus-opacity: 1;
   --bs-btn-close-disabled-opacity: 0.25;
   --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
   box-sizing: content-box;
   width: 1em;
   height: 1em;
   padding: 0.25em 0.25em;
   color: var(--bs-btn-close-color);
   background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
   border: 0;
   border-radius: 0.375rem;
}

#offcanvasNavbarLabel{
   color:#c3cdf5;
}

.nav-linkH{
   color:#fff;
   font-size: 24px;
   font-weight: 800;
   text-decoration: none;
}


.nav-linkR{
color:#e94fca99;
font-size: 20px;
font-weight: 400;
text-decoration: none;
padding-left: 5%;
}

/************** BOOTSTRAP NAV *******************/

body{
    background-color: #b3bbf8;
}


.card-img-overlay{
    position:relative;
    text-decoration: none !important;
    opacity: 100%;
}


.ani{
    padding-left: 25%;
}

.animals{
    background-image: url(/IMGS/Windows.png);
    background-repeat: no-repeat;
    background-size: contain;
}


.title{
    font-size: 32px;
    font-weight: 600;
    color:#242634;
}

.card-text{
    margin: 0 auto;
    color:#242634;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    text-decoration: none !important;
}


.card-img-overlay{
    margin: 0 auto;
    text-decoration: none !important;
}

.background{
    padding: 10%;
}


.smalltext{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    font-size: 16px;
    font-weight: 300;
}

.strong{
    font-size: 24px;
    font-weight: 400;
    color:rgb(101, 10, 92);
}

.bold{
    font-size: 20px;
    font-weight: 600;
    color:rgba(154, 53, 144, 0.661);
}

.tall{
    font-size: 22px;
    font-weight: 300;
}

/*** FOOTER ***/

.ft{
    z-index: 1;
    background-color: #08115100;
}

li{
    justify-content: end;
    display: inline-block;
}


.navul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #C387BF;
    justify-content: end;
}


.Anna{
    width: 300px;
    padding-left: 5%;
    padding-top: 15%;
    opacity: 75%;
}


ul.foot{
    padding-left: 20%;

}

.social{
    width: 50px;
    padding: 2%;
}

.footer{
    font-size: 24px;
    color:#2b0e29ab;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2%;
}


/*End Footer*/

.wave2{
    position: absolute;
    z-index: -1;
    opacity: 75%;
}

 
@media (max-width: 1000px){

    body{
        background-color:#b8bff1;
    }

    .card-text{
        margin: 0 auto !important;
        color:#242634 !important;
        font-size: 20px !important;
        font-weight: 300 !important;
        text-align: center !important;
    }


    .animals{
        background-image: none;
        padding-bottom: 30%;
    }

    .strong{
        font-size: 24px;
        font-weight: 400;
        color:rgb(101, 10, 92);
    }

    .bold{
        font-size: 20px;
        font-weight: 600;
        color:rgba(154, 53, 144, 0.661);
    }
    
    .title{
        font-size: 32px;
        font-weight: 600;
        color:rgb(146, 17, 163);
    }
    
    .smalltext{
        padding: 2%;
        font-size: 14px;
        color:#242527;
    }


.title{
    font-size: 32px;
    font-weight: 600;
    color:rgb(56, 36, 59);
}

    
     }

    
     @media screen and (max-width: 375px){

        .ani{
            width: 250px;
            margin: 0 auto;
        }

        .card-text{
            font-size: small !important;
        }

        .strong{
            font-size: 20px;
            font-weight: 400px;
        }
    
        .bold{
            font-size: 18px;
            font-weight: 600;
        }
        
        .title{
            font-size: 24px;
            font-weight: 600;
        }
        
        .smalltext{
            padding: 2%;
            font-size: 14px;
        }
    

        .card-img{
            height: 0 !important;
        }
       

        .animals{
            padding-top: 0px !important;
        }


    }


    @media screen and (max-width: 500px){

        .ani{
            width: 250px;
            margin: 0 auto;
        }

    
          .card-text{
        margin: 0 auto !important;
        color:#242634;
        font-size: 16px !important;
        font-weight: 300 !important;
        text-align: center !important;
    }


        #home{
            width: 75px !important;
            padding: 0px !important;
        }

        .resume{
            padding-right: 0px !important;
            padding-left: 25px;
            padding-top: 25px;
        }

        .home{
            padding-left: 65px !important;
        }
        
         #work{
            width: 65px !important;
            padding: 0px!important;
        }
    
        #resume{
            width: 75px !important;
            padding: 0px !important;
        }

        .card-img{
            height: 0 !important;
        }
    
        
        .smalltext{
            padding: 2%;
            font-size: 14px;
        }

        .animals{
            padding-top: 0px !important;
        }

    }

    @media screen and (max-width: 1200px) and (min-width: 700px){
        .ft{
            z-index: 1030;
            position: absolute;
            width: 100%;
            padding: 0;
        }

    
        }
        
        @media screen and (max-width: 699px) and (min-width: 375px){

            .ft{
                padding: 0px;

            }
        
            .wave2{
                position: absolute;
                z-index: -1;
                opacity: 75%;
                padding-top: 60%;
            }
        
        }
        
        

        