
    @media screen and (max-width: 400px){

        .ani{
            width: 250px;
            margin: 0 auto;
        }

        nav{
            height: 800px !important;
            padding-bottom: 100px !important;
            width: 375px !important;
        }


        .card-text{
            font-size: small !important;
        }

        #home{
            width: 75px !important;
        }

        .other{
            padding-right: 0px !important;
        }

        .home{
            padding-left: 0px !important;
        }
        
         #work{
            width: 65px !important;
            padding: 0px!important;
        }
    
        #resume{
            width: 75px !important;
            padding: 0px !important;
        }

        .card-img{
            height: 0 !important;
        }
       
        
        #resume, #work{
            width: 60px;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }
    
        
        .smalltext{
            padding: 2%;
            font-size: 14px;
        }

        .animals{
            padding-top: 0px !important;
        }

        .footerbgc{
            width: 375px;
        }

    }


body{
    background-color: rgba(214, 214, 240, 0.194);
}


.nav{
    background-image: url(/Images\ HW:17//Nav.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 355px;
}

ul{
    display: block;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

li{
    display: inline-block;
}

.title{
    font-size: 32px;
    font-weight: 600;
    text-decoration: underline;
    color:rgb(125, 2, 136);
}

.card-img-overlay{
    position:relative;
}

.other{
    padding-right: 200px;
}

.home{
    padding-left: 800px;
}

#home{
    width:125px;
    padding-top: 20%;
}


#resume{
    width: 100px;
    padding: 2%;
    
}

#work{
    width: 85px;
    padding: 2%;
}


.ani{
    padding-left: 25%;
}

.animals{
    background-image: url(/IMGS/Animals\ in\ the\ City.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
}

.card-text{
    margin: 0 auto;
    color:#081151;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}


.card-img-overlay{
    margin: 0 auto;
}

.background{
    padding-bottom: 10%;
}


small{
    font-size: 20px;
    font-weight: 300;
}

.smalltext{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
}

.strong{
    font-size: 24px;
    font-weight: 400;
    color:rgb(134, 10, 123);
}

.bold{
    font-size: 20px;
    font-weight: 600;
    color:rgb(134, 10, 123);
}

.tall{
    font-size: 22px;
    font-weight: 300;
}

/*******************************************************8***** FOOTER *******/

.footerbgc{
    background-color: #081151;
}



.foot{
    padding-left: 20%;
}


.footer{
    font-size: 24px;
    color:#ffff;
    display: flex;
}

.ft{
    display: flex;
}

.Anna{
    padding-left: 45%;
    padding-right: 5%;
    padding-top: 4%;
}

.contactlist{
    padding-left: 10%;
}

.social{
    padding: 5%;
}

p.contact{
    justify-content: start;
    padding: 2%;
    font-size: 32px;
    text-decoration: underline;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 
@media (max-width: 1000px){

    body{
        background-color:rgb(160, 160, 240) ;
    }

    .card-text{
        margin: 0 auto !important;
        color:#081151 !important;
        font-size: 16px !important;
        font-weight: 300 !important;
        text-align: center !important;
    }

    
    .other{
        padding-top: 4%;
    }

    .home{
        padding-left: 200px;
    }
    
    .smalltext{
        padding: 2%;
        font-size: 14px;
    }

    #home{
        padding-top: 5%;
    }

    .animals{
        background-image: none;
        padding-bottom: 30%;
    }
    
     }

    
    