
    @media screen and (max-width: 400px){
        body{
            width: 375px !important;
        }

        .background{
            height: 3000px !important;
        }

        nav{
            height: 800px !important;
            padding-bottom: 100px !important;
            width: 375px !important;
        }

        nav .justify-content-start{
            padding-right: 0 !important;
            padding-top: 0 !important;
            margin: 0 auto;
        }
        
        nav .justify-content-end{
            padding-right: 200px !important;
            padding-bottom: 0 !important;
            margin: 0 auto;
        }

        .card-img-overlay{
            padding-top: 50px !important;
            padding-left: 5% !important;
            padding-right: 5% !important;
            padding-bottom: 200px;
            width: 350px;
        }

        .card-text{
            padding-left: 10% !important;
            padding-right: 10% !important;
            font-size: small !important;
        }

        #home{
            width: 75px !important;
            padding-bottom: 0px !important;
        }
    
    
        .card-img{
            height: 0 !important;
        }
       
        
        #resume, #work{
            width: 60px;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }
    
        
        .smalltext{
            padding: 2%;
            font-size: 14px;
        }

        .animals{
            padding-top: 0px !important;
        }

        .footerbgc{
            width: 375px;
        }

    }


body{
    background-color: rgb(160, 160, 240);
}


nav{
    background-image: url(/Images\ HW:17//Nav.png);
    background-size: cover;
}

.title{
    font-size: 32px;
    font-weight: 600;
    text-decoration: underline;
    color:rgb(125, 2, 136);
}


li{
    justify-content: center;
    display: inline-block;
}

.nava{
    padding-right: 10%;
}

#home{
    width:125px;
    padding-top: 10%;
}

nav .justify-content-start{
    padding-right: 65%;
    padding-top: 2%;
}

#resume, #work{
    width: 100px;
    padding-top: 2%;
}

#work{
    padding-top: 75px;
    padding-right: 10%;
}

#resume{
    padding-top: 85px;
}


.ani{
    padding-left: 25%;
}

.animals{
    background-color: rgb(193, 193, 241);
    padding-bottom: 30%;
}

.card-img{
    padding: 2%;
}

.card-text{
    margin: 0 auto;
    color:#081151;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 25% !important;
}


.card-img-overlay{
    margin: 0 auto;
}


small{
    font-size: 20px;
    font-weight: 300;
}

.smalltext{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
}

.strong{
    font-size: 24px;
    font-weight: 400;
    color:rgb(134, 10, 123);
}

.bold{
    font-size: 20px;
    font-weight: 600;
    color:rgb(134, 10, 123);
}

.tall{
    font-size: 22px;
    font-weight: 300;
}

/*******************************************************8***** FOOTER *******/

.footerbgc{
    background-color: #081151;
}



.foot{
    padding-left: 20%;
}


.footer{
    font-size: 24px;
    color:#ffff;
    display: flex;
}

.ft{
    display: flex;
}

.Anna{
    padding-left: 45%;
    padding-right: 5%;
    padding-top: 4%;
}

.contactlist{
    padding-left: 10%;
}

.social{
    padding: 5%;
}

p.contact{
    justify-content: start;
    padding: 2%;
    font-size: 32px;
    text-decoration: underline;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 
@media (max-width: 900px){
    .background{
        height: 950px !important;
    }

    .card-text{
        margin: 0 auto !important;
        color:#081151 !important;
        font-size: 16px !important;
        font-weight: 300 !important;
        text-align: center !important;
        padding-left: 10% !important;
        padding-right: 10% !important;
        padding-bottom: 5% !important;
        padding-top: 300px !important;
    }

    #home{
        width:75px;
        padding-top: 25px;
    }


   .card-img{
    height: 0px;
   }
    
    #resume, #work{
        width: 75px;
        padding-bottom: 500px;
        padding-top: 0;
    }
    
  
    
    .smalltext{
        padding: 2%;
        font-size: 14px;
    }

    .ani{
        width: 70%;
    }


    .animals{
        background-color: rgb(167, 167, 241);
    }
    
     }

    
    