
 a{
    color:#ffffff;
    text-decoration: none;
  }

/* WAVES */

/* */  

.empty{
    height: 250px;
}
      
  

      
      /************** BOOTSTRAP NAV *******************/ 


.navbar{
    justify-content: end !important;
    padding-right: 25px;
}

.navbar-toggler-icon {
display: inline-block;
width: 1.5em;
height: 1.5em;
vertical-align: middle;
background-image: var(--bs-navbar-toggler-icon-bg);
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
}


.nav-link{
   color: #f5f5c2 !important;
   font-size: 20px;
   font-weight: 400;
}


.bg-body-tertiary {
   --bs-bg-opacity: 0;
   background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}


.fixed-top {
position: absolute;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}

button.navbar-toggler {
    width: 10%;
   font-size: var(--bs-navbar-toggler-font-size);
   line-height: 1;
   color: #f7f9c9;
   background-color: #fffff892;
   border: var(--bs-border-width) solid ;
   border-radius: var(--bs-navbar-toggler-border-radius);
   border-color:#fffead00!important;
   border-width: 2px;
   transition: var(--bs-navbar-toggler-transition);
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
   --bs-offcanvas-zindex: 1045;
   --bs-offcanvas-width: 400px;
   --bs-offcanvas-height: 30vh;
   --bs-offcanvas-padding-x: 1rem;
   --bs-offcanvas-padding-y: 1rem;
   --bs-offcanvas-color: rgb(198, 180, 248);
   --bs-offcanvas-title-line-height: none !important;
}


.offcanvas-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
   --bs-offcanvas-zindex: 1045;
   --bs-offcanvas-title-line-height: none !important;
}

.offcanvas {
   position: fixed;
   background-color:#020625a4 !important;
}


.btn-close {
   --bs-btn-close-bg: url(/IMGS/Vector.png) !important;
   --bs-btn-close-opacity: 0.5;
   --bs-btn-close-hover-opacity: 0.75;
   --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(253, 233, 13, 0.717);
   --bs-btn-close-focus-opacity: 1;
   --bs-btn-close-disabled-opacity: 0.25;
   --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
   box-sizing: content-box;
   width: 1em;
   height: 1em;
   padding: 0.25em 0.25em;
   color: var(--bs-btn-close-color);
   background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
   border: 0;
   border-radius: 0.375rem;
}

#offcanvasNavbarLabel{
   color:#c3cdf5;
}



/************** BOOTSTRAP NAV *******************/

/**** BODY ****/

body{
    background-color: #060b33;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

p{
    margin: auto;
    padding: 0;
}


/**** BODY ****/

/*** CASE STUDIES ***/

.casestudiessection{
    width: 99%;
}

#ct{
    display: flex;
}

.casetitle{
    color: rgb(253, 253, 253);
    font-size: 32px;
    font-weight: 300px;
    text-align: center;
}

.case-studies{
    padding: 2%;
    background-color: #060b33;

}


.card-group{
    padding: 2% !important;
    background-color: #4c4ecc00;
}

.card{
    background-color: #c3c4f000;
    border: none;
    padding: 4%;
    
}


small.text-muted{
    color:#f6fbc2;
    text-decoration: underline;
    font-size: 24px;
}

.text-muted-s{
    font-size: 20px;
    color:#f6fbc2;
}



.card-img-top-t, .card-img-top-lu{
    padding-bottom: 13.75px;
}

.card-img-top-hs{
    padding-bottom: 10px;
}

.card-body{
    background-color: rgba(204, 221, 253, 0.666);
    padding-top: 25px;
    height: 60%;
    padding-left: 10%;
    padding-right: 10%;
}

.card-text{
    color:#16052c;
}

.card-title{
    text-align: center;
    color:#f6fbc2;
    font-size: 26px;
}

.card-title-lu{
    text-align: center;
    color:#f6fbc2;
    font-size: 26px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/** Case Studies **/


/*** FOOTER ***/
/*** FOOTER **/

.ft{
    width: 100%;
    padding-bottom: 10%;
}



li{
    justify-content: end;
    display: inline-block;
    padding: 1%;
}


.navul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffff;
    justify-content: end;
}


.Anna{
    width: 250px;
    padding-left: 5%;
    padding-top: 8%;
}

.email{
    padding: 2%;
    width: 50px;
}


ul.foot{
    padding-left: 15%;
}

.social{
    width: 50px;
    padding: 1%;
}

#social{
    padding: 1%;
}

.footer{
    font-size: 20px;
    color: #ffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*End Footer*/

/*End Footer*/



/*End Footer*/

h1{
    color: white;
}

.H1{
    padding: 25%;
    text-align: center;
    margin-bottom: 60%;
}

@media screen and (max-width: 1300px) and (min-width: 701px){


    li.footer{
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) and (min-width: 401px){


    li.footer{
        font-size: 16px;
    }

}


@media screen and (max-width: 400px) and (min-width: 200px){


    li.footer{
        font-size: 16px;
    }

    .ft{
        padding: 5%;
    }

}




