/* MEDIA QUERIES ARE SET TO 700PX NOT SET TO MOBILE DEVICE */

/*MEDIA QUERIES*/

    
@media screen and (max-width: 375px){

    nav{
        height: 800px !important;
        padding-bottom: 0px !important;
    }


    ul{
     display: block;
     padding-top: 0% !important;
     padding-left: 0% !important;
     padding-right: 0% !important;
    }

    #home{
        width: 75px !important;
        padding: 0px !important;
    }


     #work{
        width: 65px !important;
        padding: 0px!important;
    }

    #resume{
        width: 50px !important;
        padding: 0px !important;
    }


}


@media screen and (max-width: 500px){

    ul{
     display: block;
     padding-top: 0% !important;
     padding-left: 0% !important;
     padding-right: 0% !important;
    }

    .card-text{
        font-size: small !important;
    }

    #home{
        width: 75px !important;
        padding: 0px !important;
    }

    .about{
        padding-right: 0px !important;
        padding-left: 25px;
        padding-top: 25px;
    }

    .home{
        padding-left: 0px !important;
        padding-bottom: 0px;
    }
    
     #work{
        width: 65px !important;
        padding: 0px!important;
    }

    #about{
        width: 60px !important;
        padding: 0px !important;
    }

    #about, #work{
        width: 60px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}

@media (max-width: 1000px){

    body{
        background-color:rgb(160, 160, 240) ;
    }
    
    .card-text{
        margin: 0 auto !important;
        color:#081151 !important;
        font-size: 16px !important;
        font-weight: 300 !important;
        text-align: center !important;
    }
    
    
    .smalltext{
        padding: 2%;
        font-size: 14px;
    }


    .resume{
        padding-left: 50px;
    }

}


@media screen and (max-width: 800px){
    /*nav{
        width: 50%;
        background: #081151;
        padding-right: 25%;
        
    }

    ul{
        justify-content:center;
    }*/
    .nava{
        padding-right: 10%;
    }


    .buttonall{
        font-size: 18px;
        width: 300px;
        height: 75px;
    }
    
    .foot{
        margin: 0 auto;
        padding-left: 0px;
    }

    .ft{
        padding: 0;
    }

    .Anna{
        width: 200px;
        height: 125px;
        padding: 0;
    }

    
    .resume{
        padding-left: 0px;
    }
    
}


/************************** NAVIGATION ***********************/

.nav{
background-image: url(/Images\ HW:17//Nav.png);
background-size: cover;
background-repeat: no-repeat;
height: 375px;
}

.navul{
display: block;
padding-left: 5%;
padding-right: 5%;
}

.navli, .resume, .home{
display: inline-block;
}


.other{
    padding-bottom: 50px;
}

.home{
    padding-bottom: 50px;
    padding-left: 800px;
}

@media screen and (max-width: 800px){

.resume{
    padding-left: 10px;
}

.home{
    padding-left: 0px;
}
}

@media screen and (max-width: 700px){

    .resume{
        padding-left: 0px;
    }
    
    .home{
        padding-left: 0px;
    }
    }

  
@media screen and (max-width: 600px){

    .resume{
        padding-left: 0px;
    }
    
    .home{
        padding-left: 0px;
    }
    }  

@media screen and (max-width: 900px){

    .resume{
        padding-left: 0px;
    }
    
    .home{
        padding-left: 0px;
    }
    }

@media screen and (max-width: 1000px){

    .resume{
        padding-left: 0px;
    }
    
    .home{
        padding-left: 10px;
    }
}

@media screen and (max-width: 1200px){

    .resume{
        padding-left: 0px;
    }
    
    .home{
        padding-left: 10px;
    }
}


#home{
width:125px;
padding-top: 35px;
}


#about{
    width: 75px;
}

#work{
width: 85px;
padding: 2%;
}
/************************************************** END NAV *********************************************/

/************************************************** BODY *********************************************/

/************************************************** BODY *********************************************/

/************************************************** FOOTER *********************************************/

.footerbgc{
background-color: #081151;
}


.ft{
    display: block;
    display: flex;
}


.footer{
font-size: 24px;
color:#ffff;
display: flex;
padding: 2%;
}

.ft{
display: flex;
}

.Anna{
padding: 5;
}

.contactlist{
display: flex;
padding-left: 2%;
}

.social{
padding: 5%;
}

.contact{
justify-content: center;
font-size: 32px;
text-decoration: underline;
color:aliceblue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





/* navigation section */

nav{
    background-image: url(/Images\ HW:17//Nav.png);
    background-size: cover;
}


.navli{
    justify-content: center;
    display: inline-block;
    padding-top: 10px;
}



/*END NAV*/

body{
    background-color: #081151 ;
}

/* Other */

hr{
    height: 4px;
}


p{
    margin: auto;
    padding: 0;
}

