.content{
    padding-top: 10%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 10%;
    z-index: 1;
    position: absolute;
}

a{
    color:#d3d7fd;
}

h2{
    color:#f9f9f9;
    text-align: center;
    font-weight: 300;
}

h3{
    color:#f47bd0c9;
    text-align: center;
    font-style: italic;
    font-weight: 200;
}

h4{
    color:#a20573ab;
    text-align: center;
}

h5{
    color: #d3d7fd8a;
    text-align: center;
    font-style: italic;
}


body{
    background-color: #081151 ;
    width: 100%;
}

.empty{
    height: 400px;
}


/** WAVES **/


.wave{
    z-index: -1;
    position: absolute;
    opacity: 100%;
    width: 100%;
}

.wave2{
    z-index: -1;
    position: absolute;
    margin-top: 85%;
    width: 100%;
}

.wavefoot{
    z-index: -1;
    position: absolute;
}

/** END WAVE **/

      
      /************** BOOTSTRAP NAV *******************/ 


      .navbar{
        justify-content: end !important;
        padding-right: 25px;
   }
   
   
   .nav-link{
       color: #f2a0e2 !important;
       font-size: 20px;
       font-weight: 800;
   }
   
   
   .bg-body-tertiary {
       --bs-bg-opacity: 0;
       background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
   }


  .fixed-top {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1030;
}
   
   button.navbar-toggler {
       width: 20%;
       font-size: var(--bs-navbar-toggler-font-size);
       line-height: 1;
       color: #5c76ee;
       background-color: #d675c39d;
       border: var(--bs-border-width) solid ;
       border-radius: var(--bs-navbar-toggler-border-radius);
       border-color:#795ced!important;
       border-width: 2px;
       transition: var(--bs-navbar-toggler-transition);
   }
   
   .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
       --bs-offcanvas-zindex: 1045;
       --bs-offcanvas-width: 400px;
       --bs-offcanvas-height: 30vh;
       --bs-offcanvas-padding-x: 1rem;
       --bs-offcanvas-padding-y: 1rem;
       --bs-offcanvas-color: rgb(198, 180, 248);
       --bs-offcanvas-title-line-height: none !important;
   }
   
   
   .offcanvas-header {
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
   }

   .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
       --bs-offcanvas-zindex: 1045;
       --bs-offcanvas-title-line-height: none !important;
   }
   
   .offcanvas {
       position: fixed;
       background-color:#081151a4 !important;
   }
   
   
   .btn-close {
       --bs-btn-close-bg: url(/IMGS/Vector.png) !important;
       --bs-btn-close-opacity: 0.5;
       --bs-btn-close-hover-opacity: 0.75;
       --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
       --bs-btn-close-focus-opacity: 1;
       --bs-btn-close-disabled-opacity: 0.25;
       --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
       box-sizing: content-box;
       width: 1em;
       height: 1em;
       padding: 0.25em 0.25em;
       color: var(--bs-btn-close-color);
       background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
       border: 0;
       border-radius: 0.375rem;
   }
   
   #offcanvasNavbarLabel{
       color:#c3cdf5;
   }
   
   .nav-linkH{
       color:#fff;
       font-size: 24px;
       font-weight: 800;
       text-decoration: none;
   }


.nav-linkR{
   color:#e94fca99;
   font-size: 20px;
   font-weight: 400;
   text-decoration: none;
   padding-left: 5%;
}

/************** BOOTSTRAP NAV *******************/



/** Hero Img **/

.name{
    color:rgba(205, 22, 178, 0.739);
    font-size: 20px;
    padding-top: 5%;
    padding-left: 2%;
    z-index: 1;
    position: absolute
}

.subtitle{
    color:#f693e6a0;
    font-size: 20px;
    font-weight: 300;
    padding-left: 5%;
    padding-top: 8%;
    z-index: 1;
    position: absolute;
}



.UXUI{
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.UX, .UI{
    color: rgba(255, 255, 255, 0.797);
    font-size: 32px;
    font-weight:600;
    font-style: italic;
    padding-top: 0;
}

.UX{
    padding-left: 10%;
}


.blink{
    display: flex;
    text-align: center;
    justify-content: center;
}


.CSA{
    color:#fbfbeede;
    font-size: 36px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    padding: 5%;

}


#logo{
    width: 75%;
    margin-left: 10%;

}

.blurb{
    color:aliceblue;
    font-size: 20px;
    font-weight: 200;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 15%;
    padding-right: 15%;
}

.button{
    display: flex;
    justify-content: center;
    margin: 5%;
}


button{
    height: 60px;
    width: 250px;
    border-radius: 5px;
    margin-right: 5%;
    background-color: #ee60c3d0;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.button2{
    height: 60px;
    width: 250px;
    border-radius: 5px;
    margin-left: 5%;
    background-color: #ee60c3d0;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.b{
    padding: 2%;
}



.blu{
    text-align: center;
}



.linkt{
    color:rgb(241, 152, 228);
    font-size: 32px;
    font-weight: 300;
    text-decoration: underline;
    padding-left: 15%;
    padding-top: 0;
    z-index: 2;
    position: relative;
}

#look{
    font-size: 24px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.91);
    padding-left: 15%;
}

#light{
    width: 20px;
}


#light, #look{
    display: inline-block;
}


/** BLURB **/

.playful{
    color:#f5d3eb;
    font-size: 20px;
    font-weight: 200; 
    font-style: italic;
}

/*** CASE STUDIES ***/

#ct{
    display: flex;
}

.casetitle{
    color: rgb(253, 253, 253);
    font-size: 32px;
    font-weight: 300px;
    padding: 5%;
    text-align: center;
}



.card{
    background-color: #787aea00;
    border: none;
    padding: 2%;
    
}


small.text-muted{
    color:rgb(241, 152, 228) !important;
    text-decoration: underline;
    font-size: 24px;
}

.text-muted-s{
    font-size: 20px;
    color:rgba(72, 13, 72, 0.969);
}

.card-img-top-t{
    padding-bottom: 25px;
}

.card-img-top-lu{ 
    padding-bottom: 20px;
}

.card-body-lu{
    background-color: rgba(204, 221, 253, 0.61);
    padding: 5%;
    height: 95%;
}

.card-img-top-hs{
    padding-bottom: 13.75px;
}

.card-body{
    background-color: rgba(204, 221, 253, 0.61);
    padding-top: 25px;
    height: 60%;
}

.card-text{
    color:#081151;
}

.card-title{
    text-align: center;
    color:#a20573;
    font-size: 26px;
}

.card-title-lu{
    text-align: center;
    color:#a20573;
    font-size: 26px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/** Case Studies **/

/*** FOOTER **/

/**
.ft{
    background-image: url(/IMGS/Footer\ Wave.png) ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}
**/


li{
    justify-content: end;
    display: inline-block;
    padding: 1%;
}


.navul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffff;
    justify-content: end;
}


.Anna{
    width: 250px;
    padding-left: 5%;
    padding-top: 8%;
}


ul.foot{
    padding-left: 5%;
}

.social{
    width: 50px;
    padding: 4%;
}

.email{
    padding: 2%;
    width: 50px;
}

#social{
    padding: 1%;
}

.footer{
    font-size: 20px;
    color: #ffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*End Footer*/

/*End Footer*/
@media screen and (max-width: 1500px) and (min-width: 1201px){

    .footer{
        font-size: 20px;
    }

  
}


@media screen and (max-width: 1200px) and (min-width: 900px){


    /** FOOTER WAVE **/

    .footer{
        font-size: 20px;
    }

    .UXUI{
        padding-top: 40%;
    }

    .UX, .UI{
        color: rgba(255, 255, 255, 0.797);
        font-size: 25px;
        font-weight:500;
        font-style: italic;
    }

    .containerGrid{
        font-size: 36px;
    }

    .header{
        font-size: 48px;
    }

    .hero{
        margin-top: 8%;
    }

     .blurb{
        font-size: 18px;
        padding:10%;
    }

    .CSA{
        font-size: 24px;
    }

    .caseimg{
        width: 200px;
        height: 200px;
        padding: 10px;
    }

    #lift{
        align-content: center;
        justify-content: center;
    }

    #ltitle{
        font-size: 20px;
    }

    #htitle{
        font-size: 16px;
        margin: 0 auto;
    }

    #linfo, #hinfo, #tinfo{
        font-size: 14px;
    }

    #liftup, #humanesoc, #treasd{
        width: 100%;
    }

    .subtitle{
        font-size: 20px;
    }

    .buttonall{
        font-size: 18px;
        width: 300px;
        height: 75px;
    }
    
    .button3{
        width: 125px;
        height: 65px;
        font-size: 18px;
    }

}


@media screen and (max-width: 899px) and (min-width: 601px){


    .footer{
        font-size: 20px;
    }

}

@media screen and (max-width: 600px) and (min-width: 451px){

    .footer{
        font-size: 20px;
    }


    #logo{
        margin-left: 5%;
    }

    .card{
        padding: 3%;
    }

    .CSA{
        padding-top: 20%;
        font-size: 24px;
    }

    .blurb{
        padding-bottom: 20%;
    }

    .button{
        justify-content: center;
    }

    #ct{
        padding: 10%;
    }


    li{
        display: block;
    }

}



@media screen and (max-width: 450px) and (min-width: 200px){

    .Anna{
        padding: 0;
        width: 60%;
    }


    .footer{
        font-size: 16px;
    }


    .bold{
        font-size: 14px;
    }


    .UXUI{
        margin-top: 40%;
    }

    .UX, .UI{
        font-size: 20px;
    }


    .hero{
    margin: 0 auto;
    }

    .CSA{
       font-size: 16px;
    }

    #light{
        width: 0%;
    }

    .linkt{
        font-size: 18px;
    }

    #look{
        margin-bottom: 10%;
    }

    .playful{
        font-size: 16px;
    }

    .blu{
        padding: 5%;
    }
    

    .button{
        display: flex;
        margin-bottom: 10%;
    }

    .card{
        padding: 2%;
    }


    #logo{
        display:flex;
        padding-top: 20px;
        padding-bottom: 50px;
    }


    .containerGrid{
        font-size: 24px;
    }

    .header{
        font-size: 32px;
    }

     .blurb{
        font-size: 16px;
        padding:0;
    }


    button{
        width: 98%;
        font-size: 16px;
    }


    .caseimg{
        width: 200px;
        height: 200px;
        padding: 10px;
    }

    #lift{
        align-content: center;
        justify-content: center;
    }

    #ltitle{
        font-size: 20px;
    }

    #htitle{
        font-size: 16px;
        margin: 0 auto;
    }

    #linfo, #hinfo, #tinfo{
        font-size: 14px;
    }

    #liftup, #humanesoc, #treasd{
        width: 100%;
    }

    .subtitle{
        font-size: 20px;
    }

    .buttonall{
        font-size: 18px;
        width: 300px;
        height: 75px;
    }
    
    .button3{
        width: 125px;
        height: 65px;
        font-size: 18px;
    }


  

}




