
/** WAVES **/
.wave{
    z-index: 1;
    position: absolute;
    height: 75px;
    opacity: 60%;
}

.wave2{
    z-index: 1;
    position: absolute;
    margin-top: 40rem;
    
}

.footerwave{
    z-index: 1;
    position: absolute;
    width: 100%;
    padding: 0;
}

.bold{
    font-size: 24px;
    font-weight: 600;
    color:#b8248ce6;
}

/** **/

/* navigation section */

nav{
    z-index: 2;
    position: absolute;
    justify-content: end;
    width: 100%;
    margin-top: 1em;
}


#about{
    margin-top: 10%;
}

#resume{
    margin-top: 40%;
}


.nava{
    padding-right: 5%;
}




.navul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffff;
    justify-content: end;
}

#about, #resume, #work{
    align-items: flex-start;
    justify-content: center;
    width: 100px;

}

/*END NAV*/

body{
    background-color: #081151 ;
}

/** Hero Img **/

.name{
    color:rgb(241, 152, 228);
    padding-left: 2%;
    font-size: 16px;
    z-index: 4;
    padding-top: 2%;
}

.subtitle{
    color:#f693e6a0;
    font-size: 20px;
    font-weight: 300;
    z-index: 3;
    padding-left: 15%;
}


.hero{
    z-index: 2;
    position: relative;
    margin-top: 2%;
}


.UXUI{
    margin: 0 auto;
    text-align: center;
    padding:0;
}

.UX, .UI{
    color: rgba(255, 255, 255, 0.797);
    font-size: 32px;
    font-weight:600;
    font-style: italic;
    padding-top: 0;
}

.UX{
    padding-left: 10%;
}




.blink{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}


.CSA{
    color:#fbfbeede;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    padding-top: 10%;
}


#logo{
    width: 75%;
    margin-left: 15%;
    margin-right: 20%;
}

.blurb{
    color:aliceblue;
    font-size: 20px;
    font-weight: 200;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 15%;
    padding-right: 15%;
}

.button{
    display: flex;
    justify-content: center;
    padding: 1%;
}

button{
    height: 60px;
    width: 250px;
    border-radius: 5px;
    margin: 5%;
    background-color: #ee60c3d0;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.button2{
    height: 60px;
    width: 250px;
    border-radius: 5px;
    margin: 5%;
    background-color: #ee60c3d0;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}



.blu{
    text-align: center;
}


/** Hero Image **/

/** Strengths Card **/

.strengthCard{
    padding: 10%;
    margin-bottom: 5px;
}

.linkt{
    color:rgb(241, 152, 228);
    font-size: 32px;
    font-weight: 300;
    text-decoration: underline;
    padding-left: 15%;
    padding-top: 0;
    z-index: 2;
    position: relative;
}

#look{
    font-size: 24px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.91);
    padding-left: 15%;
}

#light{
    width: 20px;
}


#light, #look{
    display: inline-block;
}


/** BLURB **/

.playful{
    color:#f5d3eb;
    font-size: 20px;
    font-weight: 200; 
    font-style: italic;
}

/*** CASE STUDIES ***/

.casestudiessection{
    z-index: 2;
    position: relative;
}

#ct{
    display: flex;
}

.casetitle{
    color: rgb(253, 253, 253);
    font-size: 32px;
    font-weight: 300px;
    padding: 5%;
}

.case-studies{
    background-color: #081151;
}


.card-group{
    background-color: #4c4ecc00;
}

.card{
    background-color: #787aea00;
    border: none;
    padding: 2%;
    
}


small.text-muted{
    color:rgb(241, 152, 228) !important;
    text-decoration: underline;
    font-size: 24px;
}

.text-muted-s{
    font-size: 20px;
    color:rgba(72, 13, 72, 0.969);
}

.card-img-top-t{
    padding-bottom: 25px;
}

.card-img-top-lu{ 
    padding-bottom: 10px;
}

.card-body-lu{
    background-color: rgba(204, 221, 253, 0.61);
    padding: 5%;
    height: 95%;
}

.card-img-top-hs{
    padding-bottom: 13.75px;
}

.card-body{
    background-color: rgba(204, 221, 253, 0.61);
    padding-top: 25px;
    height: 60%;
}

.card-text{
    color:#081151;
}

.card-title{
    text-align: center;
    color:#a20573;
    font-size: 26px;
}

.card-title-lu{
    text-align: center;
    color:#a20573;
    font-size: 26px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/** Case Studies **/

/*** FOOTER ***/


.ft{
    z-index: 1;
    position: relative;
    padding-left: 5%;
}

li{
    justify-content: end;
    display: inline-block;
}


.navul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffff;
    justify-content: end;
}


.Anna{
    width: 300px;
    padding-left: 5%;
    padding-top: 15%;
}


ul.foot{
    padding-left: 20%;
}

.social{
    width: 50px;
    padding: 2%;
}

.footer{
    font-size: 24px;
    color: #ffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2%;
}


/*End Footer*/

@media screen and (max-width: 1200px) and (min-width: 699px){
    
    #resume, #about, #work{
        width: 75px;
    }
    
    #work{
        padding-top: 10px;
    }
    
    #resume{
        padding-top: 5px;
    }
    
    #about{
        padding-top: 5px;
    }
    
    .UXUI{
        padding-top: 5%;
    }

    .UX, .UI{
        color: rgba(255, 255, 255, 0.797);
        font-size: 25px;
        font-weight:500;
        font-style: italic;
    }
    


    .containerGrid{
        font-size: 36px;
    }

    .header{
        font-size: 48px;
    }

    .hero{
        z-index: 2;
        position: relative;
        margin-top: 8%;
    }
    


     .blurb{
        font-size: 18px;
        padding:10%;
    }

    
    .CSA{
        font-size: 24px;
    }


    .caseimg{
        width: 200px;
        height: 200px;
        padding: 10px;
    }

    #lift{
        align-content: center;
        justify-content: center;
    }

    #ltitle{
        font-size: 20px;
    }

    #htitle{
        font-size: 16px;
        margin: 0 auto;
    }

    #linfo, #hinfo, #tinfo{
        font-size: 14px;
    }

    #liftup, #humanesoc, #treasd{
        width: 100%;
    }

    .subtitle{
        font-size: 20px;
    }

    .buttonall{
        font-size: 18px;
        width: 300px;
        height: 75px;
    }
    
    .button3{
        width: 125px;
        height: 65px;
        font-size: 18px;
    }


    .Anna{
        width: 200px;
        height: 125px;
        padding: 0;
    }

    .ft{
        padding-top: 50%;
    }

    ul.foot{
        padding-left: 15%;
        padding-right: 15%;
    }

    .footerwave{
        height: 35%;
    }
}


@media screen and (max-width: 700px) and (min-width: 375px){
    .nav{
        padding-top: 5%;
    }

    .UXUI{
    padding-top: 15%;
    }

    .card{
        padding: 5%;
    }

    .ft{
        padding: 0;
    }

    li{
        display: block;
    }

    ul.foot{
        padding-left: 10%;
    }

    .footerwave{
        z-index: 1;
        width: 100%;
        height: 35%;
    }

}


@media screen and (max-width: 374px){

    #about, #resume, #work{
    width: 50px;
    }

    .hero{
    margin-top: 0;
    }

    
    #work{
        padding-top: 80px;
    }
    
    #resume{
        padding-top: 75px;
    }
    
    #about{
        padding-top: 70px;
    }

    #logo{
        display:flex;
        align-items: flex-end;
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        padding-top: 20px;
        padding-left: 100px;
        padding-bottom: 50px;
    }


    .containerGrid{
        font-size: 36px;
    }

    .header{
        font-size: 48px;
    }

    .navli{
        display: inline-block;
        }

     .blurb{
        font-size: 18px;
        padding:0;
    }

    
    .CSA{
        font-size: 24px;
    }


    .caseimg{
        width: 200px;
        height: 200px;
        padding: 10px;
    }

    #lift{
        align-content: center;
        justify-content: center;
    }

    #ltitle{
        font-size: 20px;
    }

    #htitle{
        font-size: 16px;
        margin: 0 auto;
    }

    #linfo, #hinfo, #tinfo{
        font-size: 14px;
    }

    #liftup, #humanesoc, #treasd{
        width: 100%;
    }

    .subtitle{
        font-size: 20px;
    }

    .buttonall{
        font-size: 18px;
        width: 300px;
        height: 75px;
    }
    
    .button3{
        width: 125px;
        height: 65px;
        font-size: 18px;
    }


    .Anna{
        width: 100px;
        height: 125px;
        padding: 0;
    }


    .footerwave{
    z-index: 1;
    width: 100%;
    height: 20%;
    }

    .ft{
    padding-bottom: 0;
    }

    ul.foot{
    padding-left: 5%;
    padding-top: 5%;
    }


}



/* Other */

hr{
    height: 1px;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 95%;
    color:#e597f35c;
}


p{
    margin: auto;
    padding: 0;
}

.empty{
    height: 500px;
}

