


body{
    background-color: rgb(167, 167, 241);
}

nav{
    background-image: url(/Images\ HW:17//Nav.png);
    background-size: cover;
}


li{
    justify-content: center;
    display: inline-block;
}

.nava{
    padding-right: 10%;
}

#home{
    width:125px;
    padding-top: 10%;
}

nav .justify-content-start{
    padding-right: 65%;
    padding-top: 2%;
}

#resume, #work{
    width: 100px;
    padding-top: 2%;
}

#work{
    padding-top: 75px;
    padding-right: 10%;
}

#resume{
    padding-top: 85px;
}


.ani{
    padding-left: 25%;
}

.animals{
    background-color: rgb(167, 167, 241);
    padding-bottom: 25%;
}


.lwimg{
    background-color:rgb(167, 167, 241);
}

h1{
    color:rgb(251, 248, 251);
    text-decoration: underline;
    text-align: center;
}


.card-img{
    padding: 2%;
}

.card-text{
    margin: 0 auto;
    color:#081151;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20%;
}


.card-img-overlay{
    margin: 0 auto;
}


small{
    font-size: 20px;
    font-weight: 300;
}

.smalltext{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
}

.strong{
    font-size: 24px;
    font-weight: 400;
    color:rgb(134, 10, 123);
}

.bold{
    font-size: 20px;
    font-weight: 600;
    color:rgb(134, 10, 123);
}

.tall{
    font-size: 22px;
    font-weight: 300;
}

/*******************************************************8***** FOOTER *******/

.footerbgc{
    background-color: #081151;
}



.foot{
    padding-left: 20%;
}


.footer{
    font-size: 24px;
    color:#ffff;
    display: flex;
}

.ft{
    display: flex;
}

.Anna{
    padding-left: 45%;
    padding-right: 5%;
    padding-top: 4%;
}

.contactlist{
    padding-left: 10%;
}

.social{
    padding: 5%;
}

p.contact{
    justify-content: start;
    padding: 2%;
    font-size: 32px;
    text-decoration: underline;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 
@media (max-width: 768px){
    .card-text{
        margin: 0 auto !important;
        color:#081151 !important;
        font-size: 16px !important;
        font-weight: 300 !important;
        text-align: center !important;
        padding-left: 10% !important;
        padding-right: 10% !important;
        padding-top: 50px !important;
        padding-bottom: 5% !important;
        padding-top: 200px !important;
    }

    #home{
        width:75px;
    }
    
    nav .justify-content-start{
        padding-right: 300px;
        padding-top: 50px;
    }

    h1{
        color:rgb(134, 10, 123);
        text-decoration: underline;
        text-align: center;
    }


    .card-img{
        padding: 5%;
        height: 600px;
    }

    .nava{
        padding-right: 10%;
    }
    
    #resume, #about, #work{
        width: 75px;
    }
    
    #work{
        padding-top: 50px;
    }
    
    #resume{
        padding-top: 40px;
    }
    
    #about{
        padding-top: 30px;
    }

    .ani{
        padding-bottom: 25%;
        width: 70%;
    }


    .animals{
        background-color: rgb(167, 167, 241);
        padding-bottom: 65%; 
    }
    
     }
 